package ${dao.daoPackage};

import ${dao.modelPackage};

public interface ${dao.daoName} {
	public int insert(${dao.modelName} model);
	
	public int update(${dao.modelName} model);
	
	public int delete(${dao.modelName} model);
}