package ${model.modelPackage};

#foreach ($package in $model.packages)
import $package;
#end

public class ${model.modelName}{
	#foreach ($property in $model.properties)
		private $property.type $property.property;
		public ${property.type} ${property.getterName}(){
			return $property.property;
		}
		public void ${property.setterName}(${property.type} $property.property) {
			this.$property.property = $property.property;
		}
	#end
}
